.footerParentDiv {
  width: 100vw;
}

.footerParentDiv .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ebeeef;
  padding: 16px;
  border-top: 2px solid #002f34; /* Top Border */
  border-bottom: 2px solid #002f34; /* Bottom Border */
}

.footerParentDiv .content .heading {
  font-size: 24px;
  font-weight: bolder;
  border-bottom: 2px solid #002f34; /* Bottom Border for Heading */
  padding-bottom: 4px; /* Adjust padding as needed */
}

.footerParentDiv .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #002f34;
  color: whitesmoke;
}

.footerParentDiv .footer p {
  margin: 0;
}
