/* Poppins font */
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
/* @import url('https://fonts.googleapis.com/css?family=Exo:400,700'); */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif ;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Backgroung Animation */
.area{
    background:linear-gradient(#a4c8ee,#f5ccd4,#b8a4c9);
    background-size:cover;
    width: 100%;
    height:100vh;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: fixed;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgb(228, 146, 146);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}
@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
/* Main Body */
.container{
    width: 70%;
   max-width: 800px;
   position: absolute;
   background-image: linear-gradient(-135deg,lightcoral,rgb(237, 53, 53));
   padding: 3dvh;
   border-radius:15px ;
   color: #fff;
   z-index: 100;
   box-shadow: -20px 20px 15px rgb(0, 0,0 ,0.4);
}
p{
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: #870808fc;
}
.owner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
margin-bottom: 20px;
    gap: 10px;
}
.owner-image , .ld-icon{
    height: 50px;
    width: 50px;
    margin-left: 15px;
    border-radius: 5px;
    }
.owner a{
    text-decoration: none;
}
.owner p{
    box-shadow: -5px 5px 10px rgb(0, 0,0 ,0.4);
    font-size:4dvw ;
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
}
.content h3{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}
.wrapper{
    padding: 30px 0px;
    border-radius: 10px;
    margin-top: 15px;
    background-color: rgb(248, 174, 174);
    box-shadow: 0 8px 32px rgba(97, 2, 2, 0.5);
}
.wrapper:hover{
    box-shadow: none;
}
.content .type{
    font-size: 5dvw;
    font-weight: 550;
}
.main{
   display: flex;
   justify-content: center;
   align-items: center; 
   gap: 8px;
}
.main div{
    width: 20%;
    text-align: center;
}
.main .number{
    position: relative;
    font-size: 5vw;
    font-weight: 600;
    line-height: 1;
}
 .colon{
    font-size: 4dvw;
    padding: 0px;
    margin-bottom: 15px;
    text-align: center;
}
.typetime{
    font-size: 2dvw;
}
.btns{
    margin-top: 20px;
    gap: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    padding: 10px 20px 10px 20px;
    color: #870808fc;
    font-size: 15px;
    font-weight: 550;
    cursor: pointer;
    border: 1px solid lightgray;
    text-transform: uppercase;
    text-decoration: none;
    background-color:  rgb(248, 174, 174);
    box-shadow: -10px 10px 10px rgb(0, 0,0 ,0.3);
    border-radius: 15px;
    transition: all 0.3s;
}
.btn:active{
    box-shadow: none;
}
.hidden{
    display: none;
}
/* laps */
.laps{
    position: relative;
    /* max-height: 300px; */
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 0 auto;
    margin-top: 20px;
}
.laps .lap{
    width: 50%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(248, 174, 174);
    border-radius: 10px;
    padding: 3px 0px 3px 0px ;
    border: 1px solid gray;
}
.lap p{
    font-size: 15px;
    font-weight: 600;
}
.laps .lap:active{
    color: #ffff;
}
/* Media Query */
@media(max-width:800px){
    .container{
        height: 80vh;
        width: 80%;
       display: flex;
       flex-direction: column;
       justify-content: center;
       border-radius: 10px;
    }
    .content h3{
        font-size: 16px;
        }
    .outer-wrapper{
        padding: 20px 0;
    }
    .main .number{
        font-size: 50px;
    }
    .main .colon{
        font-size: 16px;
    }
}
@media (max-width:470px){
    .main .number{
        font-size: 6vw;
    }
}