.centerDiv {
  border: 1px solid black;
  width: max-content;
  padding: 50px;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  background: linear-gradient(90deg, #007bff, #ff99cc); /* Blue to Light Pink Gradient */
}

.input {
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  outline-color: transparent;
  margin-bottom: 35px;
  background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white background */
}

.uploadBtn {
  margin-top: 30px;
  width: 100%;
  height: 48px;
  background: linear-gradient(90deg, #007bff, #ff99cc); /* Blue to Light Pink Gradient for Button */
  color: whitesmoke;
  font-weight: 900;
  border: none;
  cursor: pointer;
}

.uploadBtn:hover {
  background: linear-gradient(90deg, #ff99cc, #007bff); /* Reverse Gradient on Hover */
  color: #002f34;
  border: 2px solid #002f34;
}

.centerDiv label {
  font-weight: bold;
  color: #002f34; /* Dark blue text color */
}
