.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(37, 37, 37);
    position: fixed;
    overflow-y: scroll;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


#btn {
   cursor: pointer;
}

.inner {
    height: 80vh;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(25, 182, 255, 0.884);
}

.box {
    width: 70%;
    height: 70%;
    background-color: #fff;
    box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.232);
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.number {
    height: 60px;
    width: 150px;
    position: absolute;
    top: -30px;
    right: -60px;
    background-color: rgba(0, 0, 0, 0.158);
    transform: rotate(45deg);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.232);
}

#tweetMe {
    height: 25px;
    width: 25px;
    padding: 5px;
    transform: rotate(-45deg);
    animation: rotweet 1s linear;
    cursor: pointer;
}

@keyframes rotweet {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.text {
    padding: 10%;

    padding-bottom: 0%;
}

.start-quote {
    opacity: 0.2;
    font-size: 50px;
}

#quotes {
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
    opacity: 0.8;
}

.author {
    text-align: right;
    font-size: 12px;
}

.btn {
    width: 100%;
    font-size: 18px;
    text-transform: capitalize;
    color: #fff;
    cursor: pointer;
}

.button {
    width: 100%;
    height: 10%;
    background-color: rgba(0, 89, 255, 0.89);
    text-align: center;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
}