.moreView {
  margin: 16px 16px 24px;
  padding: 16px 16px 32px;
  background: linear-gradient(90deg, #007bff, #ff99cc); /* Blue to Light Pink Gradient Background */
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 16px;
}

.heading :first-child {
  font-size: 24px;
  color: whitesmoke;
}

.heading :last-child {
  font-size: 14px;
  color: whitesmoke;
}

.moreView .cards {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #002f34 #ebeeef; /* Scrollbar Color */
}

/* Webkit (Safari, Chrome) Scrollbar Styling */
.moreView .cards::-webkit-scrollbar {
  width: 8px;
}

.moreView .cards::-webkit-scrollbar-thumb {
  background-color: #002f34; /* Scrollbar Thumb Color */
  border-radius: 4px;
}

.moreView .cards::-webkit-scrollbar-track {
  background-color: #ebeeef; /* Scrollbar Track Color */
}
